MSSQL_SA_PASSWORD=Your_strong_password123!
ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=VAOIG_FWA_Demo;User Id=sa;Password=Your_strong_password123!;TrustServerCertificate=True;Encrypt=True;
NEXT_PUBLIC_API_BASE_URL=http://localhost:5000
